[Unit]
Description=Notify shell about unit failure

[Service]
Type=oneshot
ExecStart=notify-send --urgency=critical 'Job for %i failed.' 'See "systemctl --user status %i" and "journalctl --user -xe" for details.'